.add-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 4px;
  margin: 1rem;
  background-color: rgba(144, 198, 212, 0.486);
}

.form-control label {
  font-size: medium;
}

.form-control input {
  background-color: #6f8c95;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: large;
  font-family: "Roboto";
  font-weight: bold;
}

::placeholder {
  color: rgb(66, 65, 65);
  font-family: "Roboto";
  font-size: medium;
}

.saveHero-btn {
  align-self: center;
  width: 50%;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(160, 100, 100);
  color: #eaeaea;
  border-radius: 20px;
}

.saveHero-btn:active {
  border-bottom-width: 2px;
  transform: translateY(2px);
}
