header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* border: 1px solid black; */
  box-shadow: 4px 3px 4px 4px rgb(221, 107, 107);
}

header h1 {
  font-family: "Courgette", cursive;
  color: rgb(255, 255, 255);
}
